#page-admin-report-userapproval-index .indicatorbox {
    white-space: nowrap;
    border: 1px solid #888;
    position: relative;
}

#page-admin-report-userapproval-index .indicatorbox .percentbar {
    background-color: #ffcf00;
    height: 20px;
}

#page-admin-report-userapproval-index .indicatorbox .percentlabel {
    position: absolute;
    left: 50%;
}

#page-admin-report-userapproval-index .userapprovalcourse {
    border: 1px solid #eee;
    padding: 10px;
}
